h2 {
  color: red;
}
h3 {
  color: red;
}
h5 {
  color: brown;
}
span {
  text-decoration: line-through;
}
li {
  color: crimson;
  font-family: "Courier New", monospace;
}

p {
  color: brown;
}
text {
  text-decoration-color: yellow;
}
